* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
}

.btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btnIcon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

.btnIcon:active .trackPlay__likeSvg,
.btnIcon:active .trackPlay__dislikeSvg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}