* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #181818;
  color: #ffffff;
  overflow: hidden;
}

#__next {
  height: 100%;
}