.rootWrapper {
  width: 100%;
  height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #181818;
  box-sizing: border-box;
}