.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #181818;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 0; /* Важно! */
}