.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: calc(100vh - 73px);
  overflow: hidden;
}