.nav {
  width: 244px;
  min-height: 100vh;
  background-color: #181818;
  padding: 20px 0 20px 36px;
  position: relative;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navMenuOpen {
  background-color: rgba(28, 28, 28, 1) !important;
}

.nav__content {
  /* Контейнер для лого и бургера */
}

.nav__logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.nav__burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  transition: all 0.3s ease;
}

.nav__menu {
  display: none;
  position: absolute;
  left: 0;
  width: 244px;
  padding: 0 0 20px 36px;
  z-index: 1001;
}

.nav__menuVisible {
  display: block;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 16px;
}

.menu__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  transition: color 0.3s;
}

.menu__link:hover {
  color: #b672ff;
}