.sidebar {
  max-width: 418px;
  padding: 20px 90px 20px 78px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar__personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0 15px 0;
  margin-bottom: 20px;
}

.sidebar__personalName {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 16px;
}

.sidebar__icon {
  width: 43px;
  height: 43px;
  background-color: #313131;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.sidebar__icon:hover {
  background-color: #3f3f3f;
}

.sidebar__iconImg {
  width: 20px;
  height: 20px;
}

.sidebar__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
   padding-top: 300px;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__item {
  width: 250px;
  height: 150px;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 30px;
}

.sidebar__link {
  width: 100%;
  height: 100%;
  display: block;
}

.sidebar__img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}